body {
    background: #eff1ef;  
    font-family: 'Open Sans', sans-serif;
}
.index {
    width: 100vw;
    height: 100vh;
}
.masthead {
    color: rgb(177, 174, 174);
    min-height: 20rem;
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    background: url( ../img/main2.jpeg) ;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.masthead h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
}
.content {
    width: 100%;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}
.right {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}
.h1index{    
    font-size: 10px;
}

@media (min-width: 992px){
    .masthead h1{
        font-size: 5.5rem;
    }
}